<?php

//DEV hostames's routung config

return array(
    /*
    'router' => array(
        'routes' => array(
            'admin' => array(
                'options' => array(
                    'route'  => 'admin.dev.mydomain.it',                    
                ),
            ),                        
        ),
    ),
    */        
);